<section class="about-showreel">
    <div class="about-showreel__content">

        <a href="#" class="about-showreel__link">
            <div class="about-showreel__video-wrapper">
                <img src="/images/about-showreel.webp" alt="" class="about-showreel__video">
            </div>
            <div class="about-showreel__link-row">
                <div class="about-showreel__link-play">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
                Watch Showreel
            </div>
        </a>
    </div>

</section>