<section class="about-principles">
    <div class="about-principles__content">
        <h2 class="about-principles__heading">
            Три принципа работы
            в нашей компании
        </h2>
        <ul class="about-principles__list">
            <li class="about-principles__list-item">
                <div class="about-principles__card">
                    <h3 class="about-principles__card-title">
                        Огонь в глазах
                    </h3>
                    <div class="about-principles__card-text">
                        Страсть к делу, которым мы занимаемся, - это то, что нас движет. Если нет огня в глазах, то
                        какой смысл продолжать это делать? Мы пресекаем посредственность.
                    </div>
                </div>
            </li>
            <li class="about-principles__list-item">
                <div class="about-principles__card">
                    <h3 class="about-principles__card-title">
                        Совершенство
                    </h3>
                    <div class="about-principles__card-text">
                        Каждый день мы учимся чему-то новому, тому, что укрепляет нас и нашу команду. Наша лучшая работа
                        должна быть следующей.
                    </div>
                </div>
            </li>
            <li class="about-principles__list-item">
                <div class="about-principles__card">
                    <h3 class="about-principles__card-title">
                        Уважение
                    </h3>
                    <div class="about-principles__card-text">
                        Уважаем свою команду. Не создавайте вокруг себя отрицательной ауры. Отвечаем за свои поступки и
                        слова. Сказали, что сделаем, значит сделаем.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>