<section class="about-team">
    <div class="about-team__content">
        <div class="about-team__large-text js-fade-in">
            Помогаем людям решать задачи с помощью видео
        </div>
        <h2 class="about-team__heading js-fade-in">
            Команда
        </h2>
        <div class="about-team__slider js-about-team-slider js-fade-in">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/1.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Азат
                            </h3>
                            <div class="about-team__slider-card-role">
                                Основатель Zilant Pro
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Тот самый @gari_azat
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/2.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Ранис
                            </h3>
                            <div class="about-team__slider-card-role">
                                Генеральный директор
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Душа компании
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/3.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Ринат
                            </h3>
                            <div class="about-team__slider-card-role">
                                Креативный директор
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Художник оторва
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/4.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Эльмира
                            </h3>
                            <div class="about-team__slider-card-role">
                                Финансовый директор
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Финансовый порядок
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/5.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Никита
                            </h3>
                            <div class="about-team__slider-card-role">
                                Менеджер проектов
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Свой в доску
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/6.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Антон
                            </h3>
                            <div class="about-team__slider-card-role">
                                Режиссер монтажа
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Цифровой хранитель
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/7.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Антон
                            </h3>
                            <div class="about-team__slider-card-role">
                                Технический директор
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Мастер на все руки
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="about-team__slider-card">
                            <div class="about-team__slider-card-image-wrapper">
                                <img src="/images/team/8.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <h3 class="about-team__slider-card-name">
                                Юлия
                            </h3>
                            <div class="about-team__slider-card-role">
                                Генеральный продюсер
                            </div>
                            <div class="about-team__slider-card-nickname">
                                Мисс пунктуальность
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>