<section class="awards">
    <div class="awards__content">
        <div class="awards__top-row">
            <h2 class="awards__heading">
                Награды
            </h2>
            <div class="awards__text">
                <p>
                    Zilant Pro — команда победителей. Каждый завершенный проект это победа, подкрепленная международными
                    наградами.
                </p>
                <p>
                    Zilant Pro стал обладателем приза «Золотая Камера»
                    на международном фестивале корпоративного видео «US International Film & Video Festival»
                    в Лос-Анджелесе.
                </p>
            </div>
        </div>
        <div class="awards__logos">
            <div class="awards__logos-sliders">
                <div class="awards__logos-slider">
                    <div class="awards__logos-item">
                        <div class="awards__logos-item-wrapper">
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/1.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/2.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/3.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/4.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/5.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/6.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="awards__logos-slider">
                    <div class="awards__logos-item">
                        <div class="awards__logos-item-wrapper">
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/2.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/3.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/4.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/5.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/6.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/1.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="awards__logos-slider">
                    <div class="awards__logos-item">
                        <div class="awards__logos-item-wrapper">
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/3.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/4.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/5.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/6.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/1.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/2.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="awards__logos-slider">
                    <div class="awards__logos-item">
                        <div class="awards__logos-item-wrapper">

                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/4.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/5.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/6.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/1.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/2.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                            <div class="awards__logos-item-slide">
                                <div class="awards__logos-slider-card">
                                    <img src="/images/awards/3.webp" alt="" class="awards__logos-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>