<section class="about-numbers">
    <div class="about-numbers__content">
        <h2 class="about-numbers__heading">
            Цифры
        </h2>
        <ul class="about-numbers__list">
            <li class="about-numbers__list-item">
                <div class="about-numbers__card">
                    <div class="about-numbers__card-amount">
                        28
                    </div>
                    <div class="about-numbers__card-text">
                        Креативных профессионалов
                    </div>
                </div>
            </li>
            <li class="about-numbers__list-item">
                <div class="about-numbers__card">
                    <div class="about-numbers__card-amount">
                        15+
                    </div>
                    <div class="about-numbers__card-text">
                        Международных наград
                    </div>
                </div>
            </li>
            <li class="about-numbers__list-item">
                <div class="about-numbers__card">
                    <div class="about-numbers__card-amount">
                        500+
                    </div>
                    <div class="about-numbers__card-text">
                        Успешных проектов
                    </div>
                </div>
            </li>
            <li class="about-numbers__list-item">
                <div class="about-numbers__card">
                    <div class="about-numbers__card-amount">
                        11
                    </div>
                    <div class="about-numbers__card-text">
                        Лет на рынке видеопроизводства
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>