<section class="contact-us">
    <div class="contact-us__content">
        <h1 class="contact-us__heading">
            Свяжитесь с нами
        </h1>
        <div class="contact-us__blocks">
            <div class="contact-us__block">
                <h2 class="contact-us__block-heading">
                    Сотрудничество
                </h2>
                <ul class="contact-us__list">
                    <li class="contact-us__list-item">
                        <a href="/callback.html" class="contact-us__link contact-us__link--underline">
                            Заполнить бриф
                        </a>
                    </li>
                    <li class="contact-us__list-item">
                        <a href="tel:+78003336069" class="contact-us__link">
                            +7 800 333 60 69
                        </a>
                    </li>
                    <li class="contact-us__list-item">
                        <a href="mailto:info@zilant.pro" class="contact-us__link">
                            info@zilant.pro
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact-us__block">
                <h2 class="contact-us__block-heading">
                    Карьера
                </h2>
                <ul class="contact-us__list">
                    <li class="contact-us__list-item">
                        <a href="/callback.html" class="contact-us__link contact-us__link--underline">
                            Заполнить форму
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact-us__block">
                <h2 class="contact-us__block-heading">
                    Соц сети
                </h2>
                <ul class="contact-us__list">
                    <li class="contact-us__list-item">
                        <a href="#" class="contact-us__link contact-us__link--underline">
                            YouTube
                        </a>
                    </li>
                    <li class="contact-us__list-item">
                        <a href="#" class="contact-us__link contact-us__link--underline">
                            VK
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contact-us__image-wrapper js-image-zoom">
        <img src="/images/home-next.webp" alt="" class="contact-us__image js-image-zoom-picture">
    </div>
</section>