<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <div class="page-footer__col">
                <a href="#" class="page-footer__logo">
                    <img src="/images/logo-white.webp" alt="" class="page-footer__logo-image">
                </a>
                <div class="page-footer__offices">
                    <h3 class="page-footer__offices-title">
                        Адрес
                    </h3>
                    <ul class="page-footer__offices-list">
                        <li class="page-footer__offices-list-item">
                            г. Москва, 2-ая ул.<br> Машиностроения, 17, помещение 2
                        </li>
                        <li class="page-footer__offices-list-item">
                            г. Казань, <br>
                            ул. Даурская 44А пом. 3,4,5
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__col">
                <h3 class="page-footer__title">
                    Контакты
                </h3>
                <div class="page-footer__links">
                    <a href="tel:+78003336069" class="page-footer__link">
                        +7 800 333 60 69
                    </a>
                    <a href="mailto:info@zilant.pro" class="page-footer__link">
                        info@zilant.pro
                    </a>
                    <a href="#" class="page-footer__link">
                        Telegram
                    </a>
                </div>
            </div>
            <div class="page-footer__col">
                <h3 class="page-footer__title">
                    Карьера
                </h3>
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Вакансии
                    </a>
                </div>
            </div>
            <div class="page-footer__col">
                <h3 class="page-footer__title">
                    Соцсети
                </h3>
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Youtube
                    </a>
                    <a href="#" class="page-footer__link">
                        VK
                    </a>
                </div>
            </div>
            <div class="page-footer__col">
                <h3 class="page-footer__title">
                    Меню
                </h3>
                <div class="page-footer__links">
                    <a href="#" class="page-footer__link">
                        Портфолио
                    </a>
                    <a href="#" class="page-footer__link">
                        О нас
                    </a>
                    <a href="#" class="page-footer__link">
                        Услуги
                    </a>
                    <a href="#" class="page-footer__link">
                        Контакты
                    </a>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                ООО «Зилант». Кради как художник. 2012-2023
            </div>
            <a href="#" class="page-footer__made-by">
                Разработка сайта
                <img src="/images/markweber.svg" alt="Mark Weber" class="page-footer__made-by-logo">
            </a>

        </div>
    </div>
</footer>