<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.webp" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-top-row">
                <div class="page-header__menu-top-row-inner">


                    <a href="/" class="page-header__logo">
                        <img src="/images/logo.webp" alt="" class="page-header__logo-image">
                    </a>
                    <button class="page-header__burger page-header__burger--active js-menu-close">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="page-header__menu-inner">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Направление
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <ul class="page-header__nav-submenu-list">
                                        <li class="page-header__nav-submenu-list-item">
                                            <a href="#" class="page-header__nav-submenu-link">
                                                Видео презентации
                                            </a>
                                        </li>
                                        <li class="page-header__nav-submenu-list-item">
                                            <a href="#" class="page-header__nav-submenu-link">
                                                Рекламные ролики
                                            </a>
                                        </li>
                                        <li class="page-header__nav-submenu-list-item">
                                            <a href="#" class="page-header__nav-submenu-link">
                                                Нейрографика
                                            </a>
                                        </li>
                                        <li class="page-header__nav-submenu-list-item">
                                            <a href="#" class="page-header__nav-submenu-link">
                                                Reels/Shorts/TikTok
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Проекты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О нас
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <ul class="page-header__nav-submenu-list">
                                        <li class="page-header__nav-submenu-list-item">
                                            <a href="#" class="page-header__nav-submenu-link">
                                                О студии
                                            </a>
                                        </li>
                                        <li class="page-header__nav-submenu-list-item">
                                            <a href="#" class="page-header__nav-submenu-link">
                                                Вакансии
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <button class="page-header__burger js-menu-open">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>