<section class="not-found">
    <div class="not-found__content">
        <div class="not-found__inner">


            <div class="not-found__video">
                <video src="/videos/nof-found.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            </div>
            <div class="not-found__text">
                Этой страницы не существует
            </div>
            <a href="#" class="not-found__link">
                На главную
            </a>
        </div>
    </div>
</section>