<section class="project-category">
    <div class="project-category__content">
        <h2 class="project-category__heading js-fade-in">
            <span class="project-category__heading-text">
                Вдохновляющие <a href="#">видео</a> <a href="#">презентации</a> амбициозных проектов и предприятий
            </span>
        </h2>
        <ul class="project-category__list project-category__list--type-1">
            <li class="project-category__list-item">

                <a href="#" class="project-category__card">
                    <div class="project-category__card-image-container">
                        <div class="project-category__card-image-clipper">
                            <div class="project-category__card-image-scaler">
                                <img src="/images/project-categories/1.webp" alt=""
                                    class="project-category__card-image">
                            </div>
                        </div>
                        <div class="project-category__card-inner-title">
                            <span class="project-category__card-inner-title-text">
                                Название проекта. 3D графика
                            </span>
                        </div>
                    </div>
                    <h3 class="project-category__card-title">
                        Название проекта. 3D графика
                    </h3>
                </a>
            </li>
            <li class="project-category__list-item">

                <a href="#" class="project-category__card">
                    <div class="project-category__card-image-container">
                        <div class="project-category__card-image-clipper">
                            <div class="project-category__card-image-scaler">
                                <img src="/images/project-categories/2.webp" alt=""
                                    class="project-category__card-image">
                            </div>
                        </div>
                        <div class="project-category__card-inner-title">
                            <span class="project-category__card-inner-title-text">
                                Название проекта. 3D графика
                            </span>
                        </div>
                    </div>
                    <h3 class="project-category__card-title">
                        Название проекта. 3D графика
                    </h3>
                </a>
            </li>
            <li class="project-category__list-item">

                <a href="#" class="project-category__card">
                    <div class="project-category__card-image-container">
                        <div class="project-category__card-image-clipper">
                            <div class="project-category__card-image-scaler">
                                <img src="/images/project-categories/3.webp" alt=""
                                    class="project-category__card-image">
                            </div>
                        </div>
                        <div class="project-category__card-inner-title">
                            <span class="project-category__card-inner-title-text">
                                Название проекта. 3D графика
                            </span>
                        </div>
                    </div>
                    <h3 class="project-category__card-title">
                        Название проекта. 3D графика
                    </h3>
                </a>
            </li>
        </ul>
    </div>
</section>