<section class="about-slider about-slider--black">
    <div class="about-slider__content">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="about-slider__card">
                        <div class="about-slider__card-image-wrapper">
                            <img src="/images/projects/1.webp" alt="" class="about-slider__card-image">
                        </div>
                        <div class="about-slider__card-text">
                            Описание к картинке 1
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-slider__card">
                        <div class="about-slider__card-image-wrapper">
                            <img src="/images/projects/2.webp" alt="" class="about-slider__card-image">
                        </div>
                        <div class="about-slider__card-text">
                            Описание к картинке 2
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-slider__card">
                        <div class="about-slider__card-image-wrapper">
                            <img src="/images/projects/3.webp" alt="" class="about-slider__card-image">
                        </div>
                        <div class="about-slider__card-text">
                            Описание к картинке 3
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-slider__card">
                        <div class="about-slider__card-image-wrapper">
                            <img src="/images/projects/1.webp" alt="" class="about-slider__card-image">
                        </div>
                        <div class="about-slider__card-text">
                            Описание к картинке 1
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-slider__card">
                        <div class="about-slider__card-image-wrapper">
                            <img src="/images/projects/2.webp" alt="" class="about-slider__card-image">
                        </div>
                        <div class="about-slider__card-text">
                            Описание к картинке 2
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-slider__card">
                        <div class="about-slider__card-image-wrapper">
                            <img src="/images/projects/3.webp" alt="" class="about-slider__card-image">
                        </div>
                        <div class="about-slider__card-text">
                            Описание к картинке 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-slider__arrows">
            <button class="about-slider__arrow about-slider__arrow--prev">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <button class="about-slider__arrow about-slider__arrow--next">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>