<section class="vacancy-intro">
    <div class="vacancy-intro__content">
        <div class="vacancy-intro__display">
            <div class="vacancy-intro__text">
                Создавай лучшие ролики для топовых<br> компаний и&nbsp;сервисов
            </div>
            <div class="vacancy-intro__preview" data-id="1">
                <img src="/images/previews/1.webp" alt="" class="vacancy-intro__preview-image">

            </div>
            <div class="vacancy-intro__preview" data-id="2">
                <img src="/images/previews/2.webp" alt="" class="vacancy-intro__preview-image">
                <video src="/videos/test-video-1.mp4" class="vacancy-intro__video" preload="none" muted=""
                    playsinline="" loop=""></video>
            </div>
            <div class="vacancy-intro__preview" data-id="3">
                <img src="/images/previews/1.webp" alt="" class="vacancy-intro__preview-image">
            </div>
            <div class="vacancy-intro__preview" data-id="4">
                <img src="/images/previews/2.webp" alt="" class="vacancy-intro__preview-image">
            </div>
            <div class="vacancy-intro__preview" data-id="5">
                <img src="/images/previews/1.webp" alt="" class="vacancy-intro__preview-image">
            </div>
            <div class="vacancy-intro__preview" data-id="6">
                <img src="/images/previews/2.webp" alt="" class="vacancy-intro__preview-image">
            </div>
        </div>
        <div class="vacancy-intro__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="vacancy-intro__slider-card" data-id="1">
                            <img src="/images/vacancy-intro/1.webp" alt="" class="vacancy-intro__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="vacancy-intro__slider-card" data-id="2">
                            <img src="/images/vacancy-intro/2.webp" alt="" class="vacancy-intro__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="vacancy-intro__slider-card" data-id="3">
                            <img src="/images/vacancy-intro/3.webp" alt="" class="vacancy-intro__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="vacancy-intro__slider-card" data-id="4">
                            <img src="/images/vacancy-intro/4.webp" alt="" class="vacancy-intro__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="vacancy-intro__slider-card" data-id="5">
                            <img src="/images/vacancy-intro/5.webp" alt="" class="vacancy-intro__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="vacancy-intro__slider-card" data-id="6">
                            <img src="/images/vacancy-intro/6.webp" alt="" class="vacancy-intro__slider-card-image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>