:root {
  --onest: "Onest", sans-serif;
  --golos: "Golos Text", sans-serif;
  --content-padding: 5rem;
  --container-width: 150rem;

  @include breakpoint(mobile) {
    --content-padding: 2.2rem;
  }
}
